* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #272727;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 25px;
  font-size: 60px;
  color: #ffffff;
}

a {
  color: #459;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #2095f1;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-wrap {
  width: 441px;
  margin: 0 auto;
}

.game-header {
  width: 441px;
  text-align: center;
  padding: 10px;
}

.game-header>div {
  margin-bottom: 10px;
}

.game-body {
  display: flex;
  flex-direction: row;
  width: 441px;
}

.game-main {

}

.game-left, .game-right {
  width: 120px;
  color: #fff;
}

.game-left .title, .game-right .title {
  text-align: center;
  margin-bottom: 10px;
}

#selected {
  color: blue;
}